<div class="row-toolbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"><button (click)="Show(0)">THÊM</button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <select name="" id="" (change)="sizeChange($any($event))">
          <option *ngFor="let item of table_numberSize"  value="{{item}}">{{item}}</option>
       
        </select>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link disabled" href="#"></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchs">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
        </form>
      </div>
    </nav>





    <div class="modal-contain" [hidden]="active">
      <form [formGroup]="formLSP" (submit)="add_Product(formLSP.value)">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">THÊM SẢN PHẨM</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="close()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="modal-body">
              <div class="form-group">
                <label for="">Tên sản phẩm </label> <span>*</span>
                <span *ngIf="tenlsp.invalid && (tenlsp.dirty || tenlsp.touched)">
                  <span *ngIf="tenlsp.errors?.['required']"
                    >Tên Loại sản phẩm không được rỗng</span></span>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="txt_tenlsp"    ngModel>
              </div> 
              <!-- <div class="form-group">
                  <label for="">Giá tiền*</label>
                  <span *ngIf="giatien.invalid && (giatien.dirty || giatien.touched)">
                    <span *ngIf="giatien.errors?.['required']">Số tiền không được rỗng</span>
                    <span *ngIf="giatien.errors?.['pattern']">Số tiền phải là số</span>
                </span>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="txt_giatien" ngModel>
                </div> 
                <div class="form-group">
                  <label for="">Mô tả</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="txt_mota"     ngModel>
                </div> 
                <div class="form-group">
                    <label for="">Số lượng</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="txt_soluong" ngModel>
                  </div> 
                  <div class="form-group">
                    <label for="">Ảnh sản phẩm</label>
                    <input type="file" class="form-control" name="" id="files" aria-describedby="helpId" placeholder="" ngModel>
                  </div> 
                  <div class="form-group">
                      <label for="">Đơn vị tính</label>
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="txt_donvi" ngModel>
                    </div>  -->
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="close()"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

<div class="container">

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 50px">STT</th>
          <th>Ảnh</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th style="width: 200px" colspan="2">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of categories
              | paginate
                :{
                    itemsPerPage: tablesize,
                    currentPage: page,
                    totalItems: count
                  };let i = index
           
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ item.tenloai }}</td>
          <td><i class="fa fa-trash" aria-hidden="true"></i></td>
          <td><i class="fa fa-edit" aria-hidden="true"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="dataChange($event)"
            >
            </pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
  Launch
</button> -->

<!-- Modal -->
